<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.dialect.storage_engine">innodb</property>

        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>


        <property name="javax.persistence.schema-generation.database.action">
            drop-and-create
        </property>

        <!-- Assume test is the database name -->

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db?createDatabaseIfNotExist=true
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>

        <!-- List of class mapping -->
        <mapping class="de.dhbw.model.Algorithm"/>
        <mapping class="de.dhbw.model.Channel"/>
        <mapping class="de.dhbw.model.Message"/>
        <mapping class="de.dhbw.model.Participant"/>
        <mapping class="de.dhbw.model.Postbox"/>
        <mapping class="de.dhbw.model.Type"/>
    </session-factory>
</hibernate-configuration>